@font-face {
font-family: 'Font1';
src: url(Asphalts-Brush.ttf);
}

#test {
  margin-top: 40px;
  display: inline-block;
}

#test h1 {
  line-height: 90%;
  width: 400px;
  margin: 0px;
  color: gold;
  font-size: 50px;
  font-family: Font1;
}

#test p {
  position: relative;
  right: 12px;
  margin-top: -3px;
  color: dodgerblue;
  font-family: Helvetica;
  font-size: 10px;
  letter-spacing: 3px;
  line-height: 100%;
}

html {
  padding: 0px;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  min-width: 900px;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  color: #00d0ff;
}
body {
  margin: 0px;
  padding: 0px;
  text-align: center;
}

header {
  width: auto;
  padding: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
}

header img {
  height: 12px;
}

#bottom {
  display: inline-block;
  width: 290px;
  font-size: 12px;
  margin-bottom: 80px; margin-top: 80px;
  color: #bbb;
} #bottom a { color: #bbb; text-decoration: underline;}
a {
  text-decoration: none;
  color: white;
}

.but {
  color: white;
  background-color: #3F469C;
  display: inline-block;
  padding: 12px;
  font-weight:bold;
  font-size: 10px;
  letter-spacing: 4px;
  text-align: center;
  margin-top: 28px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 20px;
  padding-left: 18px;
  padding-right: 18px;
  transition-duration: 0.2s;
}
.but:hover {
  box-shadow: 0px 4px 12px 0 rgba(81, 81, 185, 0.4);
}

.contentDiv {
  box-sizing: border-box;
  color: white;
  padding: 60px;
  margin: 0px;
  margin-left: auto;
  margin-right: auto;
}
.contentDiv h1 {
  color: #00b6ff;
  font-size: 30px;
  margin: 8px;
}

.contentDiv p {
  color: #5F6282;
  font-size: 16px;
  margin: 0px;
  padding: 0px;
}

#welcome    {
  background-color: #F3F2F2;
  width:800px;
}

#labs    {
  /*background-color: #EEECED;*/
  width:400px;
  display: inline-block;
}

#github {
  /*background-color: #EEECED;*/
  width:400px;
  display: inline-block;
}

#contact {
  background-color: #F3F2F2;
  width: 800px;
  margin-bottom: 83px;
}
html {
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    min-width: 900px;
    
